<DOCTYPE html>
    <html>
    <head>
      <title>Day3-Events</title>
      <meta charset='utf-8' />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
    </head>
    <body>
      <div class="container">
        <div id="app">
          <div class="row">
            <div class="col-md-4">
              <label><b>Write something for keyup event</b></label>
              <input type="text" @keyup="togglekey = true" v-model="name" value="" class="form-control">
            </div>
            <div class="col-md-4">
              <div>
                <p @mouseover="hover = true"  @mouseleave="hover = false" :class="{ active: hover }">
                  Hover to change the background!
                </p>
              </div>
            </div>
            
          </div>
           
          <div class="row">
            <div class="col-md-4">
              <div v-if="togglekey">
                <p>Key up called</p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    <script>
    const app = new Vue({
      el: '#app',
      data: { 
       name: '',
       togglekey : false,
       hover:false
      }
    })
    </script>
    <style>
      .active {
          background: green;
        }
    </style>
    </body>
    </html>